apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  name: redisclusterpasswords.util.redislabs.com
spec:
  group: util.redislabs.com
  versions:
    - name: v1
      served: true
      storage: true
      schema:
        openAPIV3Schema:
          type: object
          properties:
            spec:
              type: object
              properties:
                secret:
                  type: object
                  required:
                    - name
                    - namespace
                  properties:
                    name:
                      type: string
                    namespace:
                      type: string
                rec:
                  type: object
                  required:
                    - name
                    - namespace
                  properties:
                    name:
                      type: string
                    username:
                      type: string
                    namespace:
                      type: string
              required:
                - secret
                - rec
  scope: Namespaced
  names:
    plural: redisclusterpasswords
    singular: redisclusterpassword
    kind: RedisClusterPassword
    shortNames:
      - rcp
